<div [formGroup]="form" class="form-group" [class.has-error]="control.invalid && ((!control.pristine || control.touched) || model.submitted)">
  <label [attr.for]="model.key" class="col-md-3 control-label">{{model.label | translate}}</label>
  <div [ngSwitch]="model.controlType" class="col-md-9">
    <df-textbox *ngSwitchCase="types.Textbox" [model]="model" [control]="control" (CallMyBrother) = "CallMyBrotherTest($event)"></df-textbox>
    <df-auto-selection-id *ngSwitchCase="types.AutoSelectionId" [model]="model" [control]="control" ></df-auto-selection-id>
    <!-- Continue........ -->
  
    <span *ngSwitchDefault>Not Support Form Control in DFB</span>
    
    <!-- error -->
    <div [hidden]="control.invalid && ((!control.pristine || control.touched) || model.submitted)">
      &nbsp;
    </div>
    <bxt-control-messages [value]="control.value" [show]="control.invalid && ((!control.pristine || control.touched) || model.submitted)"
      [control]="control">
    </bxt-control-messages>
  </div>
</div>