<form role="form" class="form-horizontal" (ngSubmit)="onSubmit()" [formGroup]="form">
    <ng-container *ngFor="let item of groups">
        <div class="horizontal-ribbon dark">
            <div class="container-fluid">
                <div *ngFor="let subitem of item.fields" [class]="'col-md-' + (12/item.columns)">
                    <dynamic-form-control [model]=subitem [form]="form" (CallMyBrother) = "CallMyBrotherTest($event)"></dynamic-form-control>
                </div>
            </div>
        </div>
    </ng-container>
</form>