<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="">Navbar</a>
  <button class="navbar-toggler" type="button" (click)="toggleNav()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse" [ngbCollapse]="collapseNavbar">
    <form *ngIf="!collapseNavbar" class="form-inline my-2 my-lg-0">
      <app-search-box></app-search-box>
    </form>
    <ul class="navbar-nav mr-auto">
      <ng-container *ngFor="let item of menuItems">
        <li *ngIf="!(item.childs.length)" class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="item.path">
            <i *ngIf="item.iconName" [class]="item.iconName"></i>
            {{item.name}}
          </a>
        </li>
        <li *ngIf="item.childs.length" class="nav-item" routerLinkActive="active" ngbDropdown>
          <a class="nav-link" ngbDropdownToggle>
            <i *ngIf="item.iconName" [class]="item.iconName"></i>
            {{item.name}}
          </a>
          <div ngbDropdownMenu>
            <a *ngFor="let subitem of item.childs" class="dropdown-item" [routerLink]="subitem.path">
              <i *ngIf="subitem.iconName" [class]="subitem.iconName"></i>
              {{subitem.name}}
            </a>
          </div>
        </li>
      </ng-container>
    </ul>
    <form *ngIf="collapseNavbar" class="form-inline my-2 my-lg-0">
      <app-search-box></app-search-box>
    </form>
  </div>
</nav>